<form id="login" method="POST">
  <input type="email" name="email">
  <br>
  <input type="password" name="password">
  <br>
  <input type="submit" value="Login">
</form>

<script>
  const formLogin = document.querySelector('#login')
  const formData = new FormData(formLogin)

  formLogin.addEventListener('submit',event=>{
    event.preventDefault()
    fetch('/api/singin',{
      method: "POST",
      body: formData
    })
    .then(res=>res.json())
    .then(data=>{
      localStorage.setItem('token', data.token)
    })
  })
</script>